.text-on-image__container {
  height: 100%;
  background: rgb(22, 22, 22);
  background: linear-gradient(
    0deg,
    rgba(22, 22, 22, 0.6474964985994398) 0%,
    rgba(22, 22, 22, 0.6166841736694677) 8%,
    rgba(22, 22, 22, 0.053658963585434205) 46%,
    rgba(22, 22, 22, 0) 70%
  );
}

@media (max-width: 575px) {
  .text-on-image__container {
    background: rgb(22, 22, 22);
    background: linear-gradient(
      0deg,
      rgba(22, 22, 22, 0.6474964985994398) 0%,
      rgba(22, 22, 22, 0.6166841736694677) 22%,
      rgba(22, 22, 22, 0.053658963585434205) 86%,
      rgba(22, 22, 22, 0) 100%
    );
  }
}
