:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --color-main-white: #f7f9f2; */
  --color-main-white: #fff;

  /* --color-sub-white: #d9d9d9; */
  --color-sub-white: #f7f9f2;

  /* --color-main-black: #161616; */

  --color-main-black: #000;

  --padding-main-y: 5rem;
}

body {
  padding: 0;
  margin: 0;
}

.main-text {
  color: var(--color-main-white) !important;
}

.main-text-size {
  font-size: clamp(1.75rem, 2vw + 1rem, 3rem);
}

.sub-text-size {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.sub-text {
  color: var(--color-sub-white) !important;
}

* {
  font-family: "Montserrat", sans-serif;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
