:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main-white: #f7f9f2;
  --color-sub-white: #d9d9d9;
  --color-main-black: #161616;
  --padding-main-y: 5rem;
}

body {
  padding: 0;
  margin: 0;
}

.main-text {
  color: var(--color-main-white) !important;
}

.sub-text {
  color: var(--color-sub-white) !important;
}

* {
  font-family: "Montserrat", sans-serif;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
